
section h2 {
    font-family: PlaywriteHR;
    font-size: clamp(2rem, 2.3rem, 2.6rem);
    text-align: center;
}

.flex-container, .flex-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.titulos{
    text-align: center; 
    padding-top: 9%;
    margin-bottom: 7%;
  }
.pastel {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
    background-color: #ffd9b8;
    padding: 20px;
    border-radius: 15px;
    width: 395px;
    box-shadow: -8px 8px var(--color3);
    text-align: center;
}
.imagen1 img {
    width: 100%;
    border-radius: 10px;
    height: 400px;
}
.imagen2 img{
    border-radius: 10px;
    width: 300px;
    height: 150px;
}
.caja1 {
    width: 400px;
    height: 200px;
    margin-top: 20px;
    background-color:var(--color3);
    border-radius: 15px;
    box-shadow: -8px 8px var(--color1);
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
  }
